global:
  scrape_interval: 15s
  scrape_timeout: 5s

server:
  listen_addr: 127.0.0.1:1234
  endpoint: /metrics

configs:
  - name: NAS
    address: 192.168.178.80:80
    secure: false
    username: admin
    password: admin
    interval: 15s
    timeout: 5s
  - name: PC
    address: 192.168.178.79:80
    secure: false
    username: admin
    password: admin
    interval: 20s
    timeout: 10s